<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzh.mapper.OptionMapper">

    <insert id="insertRadio">
        insert into
            radio_option(label, value, props_id, question_info_id)
        values
            <foreach collection="options" separator="," item="option">
                    (#{option.label}, #{option.value}, #{propsId}, #{questionInfoId})
            </foreach>

    </insert>

    <insert id="insertCheckbox">
        insert into
        checkbox_option(label, value, checked, props_id, question_info_id)
        values
        <foreach collection="list" separator="," item="option">
            (#{option.label}, #{option.value}, #{option.checked}, #{propsId}, #{questionInfoId})
        </foreach>
    </insert>
</mapper>
